@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #292929;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho{
    width: 1170px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
}

.nav1 a{
    margin-right: 50px;
}

.nav2 a{
    margin-left: 50px;
}

.nav1 a:hover,
.nav2 a:hover{
    color: #d3995f;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao{
    max-width: 1050px;
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 30px;
}

nav a:hover{
    color: #d3995f;
}

article{
    display: flex;
    justify-content: center;
}

.anuncio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.anuncio h1{
    color: #d3995f;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

.anuncio h2{
    font-size: 15px;
    color: #818181;
    font-family: 'Lora', serif;
    font-style: normal;
    line-height: 30px;
    margin-right: 58px;
}

.anuncio button{
    width: 200px;
    height: 50px;
    border: 2px solid #d3995f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    margin-top: 20px;
}

.anuncio button:hover{
    background-color: #d3995f;
}
.imagemanuncio{
    height: 455px;
}

#navbot{
    width: 100%;
    background-color: #292929;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

.navbar{
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1bot{
    display: flex;
    align-items: center;
}

select{
    color: white;
    background-color: #292929;
    border: none;
    margin-left: 12px;
}

select:focus{
    outline: 0;
}

.nav2bot a{
    color: white;
    font-size: 13px;
}

#search{
    padding: 10px;
}

#search:focus{
    outline: 0;
}

.nav2bot{
    display: flex;
    align-items: center;
}

#menupessoal{
    margin: 15px;
}

#lupaimg{
    position: relative;
    bottom: -1.5px;
    left: -2px;
    cursor: pointer;
    height: 42px;
}

#lupa{
    margin: 0;
    padding: 0;
}

#lupa:focus,
#carrinho:focus{
    filter:saturate(120%)
}

#lupa:hover,
#carrinho:hover{
    box-shadow: 0 1px 6px 0 #171717;
}

#carrinho{
    position: relative;
    height: 42px;
    cursor: pointer;
    margin-left: 15px;
    bottom: -1.5px;
    left: 2px;
}

.valorcarrinho{
    background-color: white;
    color: black;
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
}

#imagemcarrinho{
    margin: 0;
}

section{
    display: flex;
    justify-content: center;
}

.shopping{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1170px;
}

.popular_title{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.popular_title h1{
    font-size: 28px;
    color: #d3995f;
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
}

.itemshopping {
    display: flex;
}

.item1 img,
.item2 img,
.item3 img,
.item4 img {
    width: 270px;
    margin: 30px;
}

.item1 h1,
.item2 h1,
.item3 h1,
.item4 h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
}

.item1 p,
.item2 p,
.item3 p,
.item4 p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
    color: #d3995f;
}

.popular_desc {
    text-align: center;
    color: #686868;
    font-size: 17px;
    font-family: 'Lora', serif;
}

.botao {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

#collection {
    width: 200px;
    height: 50px;
    border: 2px solid #d3995f;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    margin-top: 20px;
}

#collection:hover {
    background-color: #d3995f;
}

.item5 img,
.item6 img,
.item7 img,
.item8 img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    margin: 30px;
}

.item5 h1,
.item6 h1,
.item7 h1,
.item8 h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
}

.item5 p,
.item6 p,
.item7 p,
.item8 p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
    color: #d3995f;
}

.item_desc {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
}

.season {
    width: 100%;
    height: 300px;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.season h2 {
    color: #d3995f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 25px;
}

.season h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 50px;
    margin-top: 0px;
}

.subscribe {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-right: 90px;
}

input[type=email] {
    box-sizing: border-box;
    width: 470px;
    height: 45px;
    border: 1px solid #d3995f;
    outline: 0;
    padding-left: 20px;
}

input[type=email]::placeholder{
    font-weight: bold;
}

#subscribebutton{
    cursor: pointer;
    width: 170px;
    height: 45px;
    background-color: #d3995f;
    border: 1px solid #d3995f;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 30px;
}

.from_collection {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.descricao_collection {
    flex-direction: column;
}

.descricao_collection h1 {
    color: #d3995f;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.descricao_collection h2 {
    font-family: 'Lora', serif;
    font-size: 12px;
    color: #686868;
}

.botoes_collection{
    display: flex;
    align-items: flex-end;
}

.botoes_collection button {
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: 1px solid #d3995f;
    background-color: white;
    margin-left: 3px;
    font-family: 'Montserrat', sans-serif;
}

.botoes_collection a{
    text-decoration: none;
}

.botoes_collection button:hover {
    background-color: #d3995f;
}

.behind {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-bottom: 0;
}

.behind_img{
    width: 570px;
    margin-bottom: 0;
}

.logo {
    width: 120px;
    height: 40px;
    margin-bottom: 15px;
}

.behind_desc h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.behind_desc2 {
    font-family: 'Lora', serif;
    font-size: 12px;
    color: #686868;
}

.behind_desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    width: 100%;
    height: auto;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
}